<h1>Welcome </h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post Stories WhatEver You Want It Can Be Private Or Public</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="red darken-1 btn"><i class="fa fa-google left"></i> Login With Google</a>

{{/if}}